  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

  :root {
    --coral: #fc5b5b;
    --red: #f8593b;
    --pastel-orange: #f58975;
    --pastel-red: #f17272;
    --white: #f5f5f5;
    --purple: #434ba1;
    --yellow: #ffc22b;
    --pure-white: #ffff;
    --grey: rgba(0, 0, 0, 0.6);
    --light-grey: #6E798C;
    --dark: #21243d;
  }

  body {
    max-width: 1400px;
    margin: 0 auto;

    font-family: 'Heebo', sans-serif;
    background: var(--pure-white);

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  button {
    border: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  /****************************************/
  /******* DESKTOP NAVIGATION ************/
  /****************************************/

  .main-navigation--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    background: white;

    z-index: 5;

    padding-top: 15px;
    box-shadow: 2px 5px 4px -2px rgba(0,0,0,.1);
  }

  .main-navigation--desktop .navigation-logo {
    position: relative;
    left: 40px;
    cursor: pointer;
  }

  .main-navigation--desktop .navigation-logo img {
    width: 60px;
    height: 60px;
  }

  .main-navigation--desktop .navigation-links {
    position: relative;
    right: 40px;
  }

  .main-navigation--desktop .navigation-links a {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin: 10px;

    color: var(--dark);
  }

  .main-navigation--desktop .navigation-links a:hover {
    color: var(--coral);
  }

  /****************************************/
  /******* MOBILE NAVIGATION **************/
  /****************************************/
  .main-navigation--mobile {
    display: none;
  }


  /***************************/
  /******* HEADER ************/
  /***************************/

  .hero_header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 80px;
    min-height: 900px;
    width: 100%;

    flex-wrap: wrap;
  }

  .hero_header-information {
    width: 50%;

  }

  .hero_header-information h1 {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;

    color: var(--dark);
  }

  .hero_header-information p {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: var(--dark);
  }

  .hero_header-information button {
    width: 208px;
    height: 55.68px;

    background: var(--coral);
    border-radius: 10px;

    color: var(--white);
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 2px;

    text-transform: uppercase;

    margin-top: 15px;
  }

  .hero_header-information button:hover {
    background: var(--purple);
    border-radius: 20px;
    transition: 0.1s;
  }

  .hero_header-logo {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .hero_header-logo img {
    max-width: 80%;
  }

  /***************************/
  /******* PROJECTS ************/
  /***************************/

  .group-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;

    width: 100%;
  }

  .active-projects {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active-projects h2 {
    font-family: 'Heebo', sans-serif;
    font-style: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: var(--dark);
    margin-bottom: 50px;
  }

  .single-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

    margin-bottom: 30px;
  }

  .project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .project-image img {
    height: 100px;
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
  }

  .project-details span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    min-width: 150px;
  }

  .project-details h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    margin: 0;

    color: var(--light-grey);
  }

  .project-details p {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    color: var(--light-grey);
  }

  .project-details h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: var(--dark);
    margin: 0;
  }

  /***************************/
  /******* TOOLS  ************/
  /***************************/

  /* GRADIENTS */
  .green {
    background: linear-gradient(132.9deg, #63F7A1 1.3%, #27AE60 98.06%), linear-gradient(143.36deg, #D6FF94 3.66%, #3DC24B 103.19%);
    border-radius: 16px;
  }

  .blue {
    background: linear-gradient(321.69deg, #4481EB 0%, #04BEFE 100%);
    border-radius: 16px;
  }

  .pink {
    background: linear-gradient(321.69deg, #FF6188 0%, #FFB199 100%);
    border-radius: 16px;
  }

  .about-technologies {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-technologies h2 {
    font-family: 'Heebo', sans-serif;
    font-style: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: var(--dark);
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .tool-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    min-width: 300px;
    max-width: 500px;
  }

  .single-tool {
    width: 200px;
    height: 200px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-tool img {
    width: 50%;
    height: 50%;
  }

  /**********************************/
  /******** EVENTS/WOR  KSHOPS ********/
  /**********************************/

  .events-and-workshops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 900px;

    width: 100%;
  }

  .events-and-workshops h2 {
    font-family: 'Heebo', sans-serif;
    font-style: bold;
    font-size: 36px;
    line-height: 35px;
    text-align: center;


    color: var(--dark);
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .events-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    flex-wrap: wrap;
  }

  .single-event {
    /* background: linear-gradient(90.02deg, #254E5A 0.02%, #141824 113.01%); */
    border-radius: 16px;
    width: 500px;
    min-height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px;
  }

  .event-details,
  .event-image {
    padding: 20px;
  }

  .event-details h3 {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: var(--grey);
    margin-bottom: 0;
    margin-top: 0;

    text-transform: capitalize;
  }

  .event-details p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: var(--grey);
    margin: 0;
  }

  .event-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-image img {
    width: 50px;
    height: 50px;
  }



  /**********************************/
  /******** Member Celebrations ********/
  /**********************************/
  /* Actual Card Styling */

  .team-celebrations {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    color: var(--white);
  }

  .team-celebrations h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 36px;
    line-height: 35px;
    text-align: center;
    color: var(--dark);
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  #celebrate {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--dark);
    font-weight: bold;

  }

  .card {
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--light-grey);
    box-shadow: 3px 3px var(--light-grey);
    }

  .card-cover {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    font-size: 125px;
    padding-left: 25px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    color: var(--dark);
    height: 100px;
    width: 250px;
  }

  .card-content {
    /* Take available height */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 15px;
    font-size: 24px;
  }

  .card-text {
    display: flex;
    justify-content: right;
    padding-right: 25px;
  }

  /*Avatar image styling */

  .avatar {
    /* Rounded border */
    display: flex;
    height: 80px;
    width: 80px;
    z-index: 1;
    position: absolute;
    padding-right: 15px;
    padding-top: 15px;
    align-self: flex-end;
  }

  .avatar-image {
    /* Rounded border */
    border-radius: 50%;
    display: flex;
    justify-content: right;

    /* Take full size */
    height: 100%;
    width: 100%;
  }



  /**********************************/
  /******** FEATURED POSTS ********/
  /**********************************/

  .featured-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }

  .featured-posts h2 {
    font-family: 'Heebo', sans-serif;
    font-style: bold;
    font-size: 36px;
    line-height: 35px;
    text-align: center;


    color: var(--dark);
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .single-post {
    display: flex;
    width: 80%;
    min-height: 250px;
    margin-bottom: 40px;
  }

  .post-image {
    width: 50%;
    margin-right: 40px;
  }

  .post-image img {
    width: 100%;
    height: 100%;
  }

  .post-details {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .date-posted {
    display: flex;
    justify-content: space-between;
  }

  .date-posted p {
    font-style: normal;
    font-size: 18px;
    margin: 0;
    color: #6E798C;
  }

  .post-title h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #081F32;
  }

  .post-description p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */


    /* Body text */

    color: #374A59;
  }

  .post-url {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }

  .post-url a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #007AE9;

    border: 2px grey solid;
    padding: 10px;

    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

  }

  .post-url a:hover,
  .post-url a:visited {
    color: var(--purple);

    border: 2px var(--purple) dashed;
  }



  /**********************************/
  /******** GET INVOLVED ************/
  /**********************************/
  .get-involved {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 900px;

    width: 100%;

    flex-wrap: wrap;
  }

  .get-involved__column {
    max-width: 400px;
  }

  .get-involved .badge {
    display: flex;
    background: var(--yellow);
    border-radius: 6px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;

    letter-spacing: 0.2em;

    color: var(--pure-white);

    width: 110px;
    height: 24px;
    display: flex;
    justify-content: center;

    position: relative;
    left: 220px;
    margin-bottom: 30px;
  }

  .get-involved .column-title h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    letter-spacing: 0.2em;

    color: var(--dark);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }

  .get-involved .column-price {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-involved .column-price strong {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 25px;
    letter-spacing: 0.04em;

    color: var(--dark);
  }

  .get-involved .column-price span {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.04em;

    color: var(--light-grey);
  }

  .get-involved .column-information {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-involved .column-information li {
    list-style: none;
    margin: 10px;
    text-align: center;
  }

  .get-involved .column-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-involved .column-button button {
    background: var(--red);
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */

    text-align: center;
    letter-spacing: 0.2em;

    color: #FFFFFF;
    width: 250px;
    height: 65px;

    margin-top: 20px;
  }

  .get-involved .column-button button:hover {
    background: var(--pastel-red);
  }

  /* skaterboy image */
  .get-involved__column img {
    max-height: 450px;
  }

  /***************************/
  /*******  FOOTER ************/
  /***************************/

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    position: relative;
    bottom: 0;
    left: 0;

    background: white;
  }

  footer .footer-socials img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
  }

  img.wondr-logo {
    background-color: #434aa1;
    border-radius: 100%;
  }
  footer .footer-socials img.discord-logo {
    height: 53px;
    width: 53px;
  }

  /***************************************/
  /********* TABLET VIEW *****************/
  /***************************************/

  @media(max-width: 980px) {

    /****************************************/
    /******* MOBILE NAVIGATION **************/
    /****************************************/

    /* hide desktop navigation */
    .main-navigation--desktop {
      display: none;
    }

    /* show mobile navigation */
    .main-navigation--mobile {
      display: flex;
      position: fixed;
      top: 0;
      z-index: 5;
    }

    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 60px;
      height: 60px;

      cursor: pointer;
    }

    .hamburger .line {
      width: 25px;
      border: 1px solid var(--dark);
      margin: 3px;
    }

    /* pop-up that opens when hamburger icon is clicked on */
    .navigation-links-wrapper {
      position: fixed;
      top: 0;
      left: 0;

      background: white;
      z-index: 10;

      width: 100%;
      height: 100%;

      display: none;
      justify-content: center;
      align-items: center;
    }

    .navigation-links {
      display: flex;
      flex-direction: column;
    }

    .navigation-links-wrapper .navigation-links a {
      font-family: 'Heebo', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      text-align: left;
      margin: 10px;

      color: var(--dark);
    }

    .close-icon-text {
      position: absolute;
      top: 40px;
      left: 40px;
    }

    .close-icon {
      position: absolute;
      top: 10px;
      left: 50px;
      cursor: pointer;
    }

    .close-line-1, .close-line-2 {
      width: 15px;
      border: 1px solid var(--dark);
    }

    .close-line-1 {
      transform: rotate(49deg);
    }

    .close-line-2 {
      transform: translateY(-1.5px) rotate(-51deg);
    }


    /***************************/
    /******* HEADER ************/
    /***************************/

    .hero_header {
      flex-direction: column-reverse;

      position: relative;
      top: 0;

      height: 900px;
      flex-wrap: nowrap;
    }

    .hero_header .hero_header-information {
      width: 80%;
    }


    .hero_header .hero_header-logo {
      width: 300px;
    }


    /***************************/
    /******* PROJECTS *********/
    /**************************/

    .group-projects {
      flex-direction: column;
      margin-bottom: 60px;
    }

    .about-technologies {
      margin-top: 60px;
    }


    /***************************/
    /******* TOOLS  ************/
    /***************************/
    .single-tool {
      width: 120px;
      height: 120px;
    }

    .active-projects,
    .about-technologies {
      width: 100%;
    }

    /**********************************/
    /******** GET INVOLVED ************/
    /**********************************/
    .get-involved {
      flex-direction: column;
    }

    .get-involved__column {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .get-involved__column .badge {
      position: relative;
      left: 150px;
    }

    .column-information ul li {
      font-size: 12px;
    }

    .post-image {
      display: none;
    }

    .single-post .post-details {
      width: 100%;
      margin: 20px;
    }


    /***************************/
    /*******  FOOTER ************/
    /***************************/

    .footer-socials img {
      width: 30px;
      height: 30px;
    }
  }

  /***************************************/
  /********* MOBILE VIEW *****************/
  /***************************************/
  @media(max-width: 500px) {

    .single-project {
      width: 100%;
      height: 130px;
    }

    .single-project .project-image {
      margin-right: 20px;
    }

    .single-project .project-image img {
      height: 80px;
      width: 90px;
    }

    .project-details {
      width: 200px;
    }

    .project-details h3 {
      font-size: 18px;
    }

    .events-wrapper {
      width: 100%;
    }

    .event-details h3 {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .event-details p {
      font-size: 12px;
    }

    .featured-posts {
      height: 1300px;
    }

    .date-posted {
      display: flex;
      flex-direction: column;
    }

    .date-posted p {
      margin-top: 10px;
    }
  }

  .card {
    width: 50%;
  }

  /***************************************/
  /***** VERY SMALL MOBILE VIEW **********/
  /***************************************/

  @media (max-width: 300px) {

    .single-project {
      margin-bottom: 40px;
      border: 1px dashed black;
      padding: 20px;
      width: 100%;
    }

    .project-image {
      display: none;
    }

    .get-involved__column img {
      width: 80%;
      display: flex;
      align-items: center;
    }

    .get-involved__column .column-button button {
      width: 60%;
      height: 30px;
    }
  }