@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

:root {
  --dark:#21243D;
  --coral:#Ff6464;
  --white: #f5f5f5;
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
display:flex;
justify-content:center;
min-height: 100vh;
font-family: 'Heebo', sans-serif;
}

.hero{
display:flex;
flex-direction:column;
justify-content:space-between;
width:90%;
padding:1.8em;
margin:auto;
color:var(--dark);
}

.hero_info{
margin:auto;
text-align:center;
width:100%;
letter-spacing:0.05em;
line-height:1.4em;
font-size:0.7em;
}

.hero_info h1{
font-size:2em;
line-height:1.2em;
width:100%;
padding-bottom:1em;
}
.hero_info p{
padding-bottom:2em;
}

.call_to_action{
display:inline-block;
text-decoration:none;
text-transform:uppercase;
background-color:var(--coral);
border-radius: 2px;
color:var(--white);
font-weight:bold;
font-size:1.3em;
text-shadow:0.06em 0.15em 0.12em rgba(0,0,0,0.1);
padding:0.8em 2.2em;
}

.logo {
order:-1;
width:100%;
margin:auto;
text-align:center;
}
.logo img{
max-width:90%;
max-height:90%;
}


/* media queries */
@media only screen and (min-width: 20em) {
    .hero_info h1{
    font-size:2.5em;
    }
 .hero_info p{
    font-size:1em;
    }
.logo img{
    max-width:70%;
    max-height:70%;
    }
}
@media only screen and (min-width: 25em) {
    .hero_info p{
    font-size:1.2em;
    }
    .hero_info h1{
    font-size:2.8em;
    }
}

@media only screen and (min-width: 37.5em) {
    .hero_info p{
    font-size:1.4em;
    }
 .hero_info h1{
    font-size:3.5em;
    }
}

@media only screen and (min-width: 48em) {
    .hero{
    padding:2.5em;
    }
    .hero_info p{
    padding:2em;
    font-size:1.7em;
    line-height:1.2em;
    }
 .logo img{
    max-width:60%;
    max-height:60%;
    }
    .hero_info h1{
    font-size:3.8em;
    padding:0em 1.8em;
    }
    .call_to_action{
    padding:1em 2.4em;
    font-size:1.9em;
    }
}

@media only screen and (min-width: 64em) {
    .hero_info h1{
    font-size:4.5em;
    padding:0em 3em;
    }
    .hero p{
    font-size:2em;
    }
    .call_to_action{
    font-size:2.5em;
    }
}

@media only screen and (min-width: 70em) {
    .hero{
    flex-direction:row;
    flex-wrap:wrap;
    width:90%;
    padding:4.5em;
    }
    .hero_info{
    width:50%;
    text-align:left;
    }   
    .hero_info h1{
    width:100%;
    text-align:left;
    padding:0.5em 0em;
    }
    .hero_info p{
    line-height:1.6em;
    font-size:1.8em;
    padding:0.8em 0em;;
    }
    .call_to_action{
    margin:2em 0em;
    }
    .logo {
    order:0;
    width:40%;
    text-align:left;
    }
    .logo img{
    max-width:90%;
    max-height:90%;
    }
}