<div class="gdpr-wrapper" id="GDPRwrapper">
	<div class="gdpr-paragraph">
        <p>
            Please confirm you’ve read our <a href="/pages/privacy-policy.html" target="_blank"> Privacy Policy</a> and are giving us your 
            consent to use GoogleAnalytics for learning purposes. If you wish to decline, we will not 
            run any GoogleAnalytics scripts. Thank you! 
        </p>
    </div>

    <div class="gdpr-actions">
        <button class="accept" onclick="runAnalyticsScripts()"> Accept </button>

        <button class="decline" onclick="hideGDPRpopup()"> Decline </button>
    </div>
</div>


