<div class="d-flex flex-column p-3  navbar" >
	<img class = "navbar-image" src="../../../../assets/images/website-images/logo-with-background.png"  alt="Junior Developer Group Logo | A butterfly with a blue and a purple wing"/> 
	<hr />
	<ul class="nav nav-pills flex-column mb-auto nav_list ">
		<li class="nav-item">			
			<a href="/pages/dashboard.html" class="nav-link rounded-pill link active" aria-current="page">				
				<img class = "nav-link-icon" src ="../../../../assets/images/icons/map-solid.svg" alt = " An icon representing a map "/><span>Dashboard</span>
			</a>
		</li>
		<li class="nav-item mt-2">
			<a href="/pages/repositories.html" class="nav-link rounded-pill">
				<!--BUG: Cannot insert SVG here-->									
				<img class = "nav-link-icon" src ="../../../../assets/images/icons/code-fork-solid.svg" alt = " An icon representing code repositories"/><span>Repositories</span>
			</a>
		</li>
		<li class="nav-item mt-2">
			<a href="/pages/activity-tracker.html" class="nav-link rounded-pill">
				<!--BUG: Cannot insert SVG here-->	
				<img class = "nav-link-icon" src ="../../../../assets/images/icons/chart-line-solid.svg" alt = "An icon that is a line chart"/><span>Activity Tracker</span>								
				
			</a>
		</li>
		<li class="nav-item mt-2">
			<a href="/pages/individual-contributions.html" class="nav-link rounded-pill">
				<!--BUG: Cannot insert SVG here-->	
				<img class = "nav-link-icon" src ="../../../../assets/images/icons/user-solid.svg" alt = "An icon representing a user"/><span>Individual Contributions</span>						
				
			</a>
		</li>
		<li class="nav-item mt-2">
			<a href="" class="nav-link rounded-pill">
				<!--BUG: Cannot insert SVG here-->	
				<img class = "nav-link-icon" src ="../../../../assets/images/icons/chart-simple-solid.svg" alt = "An icon representing a bar chart"/><span>Group Stats</span>									
				
			</a>
		</li>
		<li class="nav-item mt-5">
			<a href="mailto:matea@junior-developer-group.com" class="nav-link rounded-pill">
				<!--BUG: Cannot insert SVG here-->		
				<img class = "nav-link-icon" src ="../../../../assets/images/icons/comment-dots-solid.svg" alt = " An speech bubble icon representing a message"/><span>Report a Problem</span>								
			
			</a>
		</li>

	</ul>
	<!-- <hr>
	</hr>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
			data-bs-toggle="dropdown" aria-expanded="false">
			<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"></img>
			<strong>mdo</strong>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<li><a class="dropdown-item" href="#">New project...</a></li>
			<li><a class="dropdown-item" href="#">Settings</a></li>
			<li><a class="dropdown-item" href="#">Profile</a></li>
			<li>
				<hr class="dropdown-divider">
				</hr>
			</li>
			<li><a class="dropdown-item" href="#">Sign out</a></li>
		</ul>
	</div> -->
</div>