
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

details {
    margin-bottom: 20px;
    width: 600px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

details a {
    text-decoration: none;
    color: #016492;
    font-size: 16px;
    margin-bottom: 5px;

}

details strong {
    margin-bottom: 15px;
}

summary {
    color: #21243d;
    margin-bottom: 15px;

}

summary strong {
    color: #6E798C;
    font-size: 18px;
}


.about-us-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 80px;
    width: 100%;
    min-height: 800px;
    flex-wrap: wrap;
}

.about-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__text {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
}



.faq {
    margin-bottom: 40px;
}


@media (max-width: 680px) {

    details {
       width: 100%;
    }

    .about-us-wrapper .about-us__text {
        margin-bottom: 60px;
        max-width: 300px;
    }
}
.socialMedia__discord{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.socialMedia__discord>iframe{
    width: 40%;
    min-width: 300px;
}