---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import BecomeAMember from '../components/secondary-pages/BecomeAMember.vue'

---
<Navigation></Navigation>
<Layout title="Junior Developer Group - Become a member">

	<main>
        <BecomeAMember></BecomeAMember>
	</main>
</Layout>

<Footer></Footer>

<style>

</style>
