---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import Contact from '../components/secondary-pages/Contact.vue'

---

<Layout title="Junior Developer Group - Contact us">
	<Navigation></Navigation>
	<main>
		<Contact></Contact>
	</main>
	<Footer></Footer>
</Layout>



<style>

</style>


  