---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import Developers from '../components/secondary-pages/Developers.vue'

---

<Layout title="Developers | Junior Developer Group">
	<Navigation></Navigation>
	<main>
        <Developers></Developers>
	</main>
	<Footer></Footer>
</Layout>



<style>

</style>
