---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import HeroHeader from '../components/homepage/HeroHeader.vue'
import OurForest from '../components/homepage/OurForest.vue'
import ProjectList from '../components/homepage/ProjectList.vue'
import ToolsList from '../components/homepage/ToolsList.vue'
import Events from '../components/homepage/Events.vue'
import GetInvolved from '../components/homepage/GetInvolved.vue'

---

<Layout title="Junior Developer Group">
    <Navigation></Navigation>
	<main>
        <div class="header-wrapper">
            <HeroHeader></HeroHeader>
        </div>
        <ProjectList></ProjectList>
        <div class="forest-wrapper">
            <OurForest></OurForest>
        </div>
        <ToolsList></ToolsList>
        <Events> </Events>
        <GetInvolved></GetInvolved>
	</main>
    <Footer></Footer>
</Layout>

<style lang="scss">
    .header-wrapper {
        width: 100%;
    }
    .forest-wrapper {
        width: 100%;
        background: #f5f4f4;
    }
</style>

