---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import MemberApplicationForm from '../components/secondary-pages/MemberApplicationForm.vue'

---
<Navigation></Navigation>
<Layout title="Junior Developer Group - Member Application Form">

	<main>
        <MemberApplicationForm></MemberApplicationForm>
	</main>
</Layout>

<Footer></Footer>

<style>

</style>
