---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import MentorApplicationForm from '../components/secondary-pages/MentorApplicationForm.vue'

---

<Layout title="Member Application Form | Junior Developer Group">
	<Navigation></Navigation>
	<main>
        <MentorApplicationForm></MentorApplicationForm>
	</main>
	<Footer></Footer>
</Layout>



<style>

</style>
