---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import Privacy from '../components/secondary-pages/Privacy.vue'

---

<Layout title="Junior Developer Group - Privacy Policy">
	<Navigation></Navigation>
	<main>
        <Privacy></Privacy>
	</main>
	<Footer></Footer>
</Layout>



<style>

</style>


  