---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import Privacy from '../components/secondary-pages/Privacy.vue'

---
<Navigation></Navigation>
<Layout title="Junior Developer Group - Privacy Policy">

	<main>
        <Privacy></Privacy>
	</main>
</Layout>

<Footer></Footer>

<style>

</style>


  