---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import Projects from '../components/secondary-pages/Projects.vue'

---

<Layout title="Projects | Junior Developer Group">
	<Navigation></Navigation>
	<main>
        <Projects></Projects>
	</main>
	<Footer></Footer>
</Layout>



<style>

</style>
