---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue'
import Footer from '../components/Footer.vue'
import Projects from '../components/secondary-pages/Projects.vue'

---
<Navigation></Navigation>
<Layout title="Junior Developer Group - Projects">

	<main>
        <Projects></Projects>
	</main>
</Layout>

<Footer></Footer>

<style>

</style>
