@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --coral: #fc5b5b;
  --red: #f8593b;
  --pastel-orange: #f58975;
  --pastel-red: #f17272;
  --white: #f5f5f5;
  --purple: #434ba1;
  --yellow: #ffc22b;
  --pure-white: #ffff;
  --grey: rgba(0, 0, 0, 0.6);
  --light-grey: #6E798C;
  --dark: #21243d;
}

body {
  max-width: 1400px;
  margin: 0 auto;

  font-family: 'Heebo', sans-serif;
  background: var(--pure-white);

  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

summary::marker {
    color: var(--purple);   
}


/* maintainers */

.hacktoberfest-maintainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;

    position: relative;
    top: 90px;
    min-height: 800px;
    width: 100%;
    margin-bottom: 60px;
}

.mainteiners-help-wrapper {
    display: flex;
    justify-content: center;
}
.helpers-help-wrapper {
    display: flex;
    justify-content: center;
}

.helpers-help,
.mainteiners-help {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 30px;
    min-height: 300px;
    margin: 20px;
}

.helpers-help img,
.mainteiners-help img {
    height: 300px;
}

.mainteiners-help details summary,
.helpers-help details summary {
   font-size: 20px;
   margin-bottom: 10px;
}
.mainteiners-help details p,
.helpers-help details p {
    font-style: normal;
    font-size: 16px;
    color: var(--dark);
}

.mainteiners-help details li,
.helpers-help details li {
    font-weight: bold;
    color: var(--purple); 
    margin-bottom: 10px;
}

.mainteiners-help details li p,
.helpers-help details li p{
    font-style: italic;
    font-size: 14px;
    color: var(--grey);
}

@media (max-width: 500px) {
    .helpers-help img,
    .mainteiners-help img {
        height: auto;
        width: 90%;
    }

    details {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    details summary {
        font-size: 18px;
    }
}
