<footer>
  <div class="footer-socials">
    <img
      class="discord-logo"
      src="/assets/images/discord.png"
      alt=" Discord logo"
      onclick="openLink()"
    />
    <img
      src="/assets/images/github-logo.png"
      alt="GitHub logo | a white coloured kitten on a dark background"
      onclick="openGitHub()"
    />
    <img
      src="/assets/images/instagram-logo.png"
      alt="Outline of Instagram logo on a white background"
      onclick="openInstagram()"
    />
    <img
      src="/assets/images/gather.png"
      alt="GatherTown logo | Grape vine on a purple background"
      onclick="openGather()"
    />
  </div>
  <div class="footer-copyright">
    <p>
      © Junior Developer Group, <span class="footer-copyright--date"></span>
    </p>
  </div>
</footer>
